*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    width: 1500px;
    margin: 0 auto;
}

.main-container{
    width: 1500px;
    margin: 0 auto;
}

.footer-container{
    width: 1500px;
    margin: 0 auto;
}

img{
    width: 100%;
}

/* Stile header */

.head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header{
    background-color: #255ee9;
    padding: 30px 0 0 0;
}

.section-container{
    padding:100px 0;
}

#navbar{
    width: 60%;
    text-align: center;
}

.login-btn-container{
    text-align: right;
}

.logo-header{
    height: 50px;
}

.logo-header,.login-btn-container{
    width: 20%;
    display: inline-block;
}

.small-buttons{
    padding: 10px 15px;
    border:none;
    border-radius: 20px;
    font-size: 18px;
}

.bottom-header-btn{
    padding: 15px 15px;
    border:none;
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
}

.alternative-style-btn{
    padding: 15px 20px;
    color: white;
    background-color:#333;
    border:none;
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.bottom-header{
    background-image: url(./img/jumbo.png);
    background-size:cover;
    padding: 200px 0 180px 0;
} 

 
.banner{
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.banner h2{
    font-size: 50px;
    padding: 0 0 20px 0;
    color: whitesmoke;
}

.banner p{
    margin: 15px 0;
    font-size: 25px;
    line-height: 40px;
    color: whitesmoke;
}




/* STILE MAIN */




.section-flex{
    display: flex;
}

.big-content{
    width: 60%;
}

.small-content{
    width: 40%;
}

main section:nth-child(2n){
    background-color: grey;
}

#last-main-content{
    height: 1000px;
    background-color: green;
}

.small-content h2{
    font-size:50px;
}

.small-content p{
    font-size:25px;
    line-height: 40px;
}



/* STILE FOOTER */



 footer{
    background-color: rgb(39, 37, 37);
}


 .top-footer{
    padding: 10px 0 40px 0px;   
 }
.f-left-container{
    height: 500px;
    background-color: hotpink;
    width: 30%;
}

.f-right-container{
    width: 70%;
}
.f-right-content{
    height: 500px;
    width: calc(100% / 4);
    background-color: aquamarine;
}


.bottom-footer{
     padding-top: 40px;
}

.bottom-footer>div{
    background-color: aquamarine;
    height: 50px; 
    justify-content: space-between;
    align-items: center;
}

