
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif
}

.header-container {
    width: 1500px;
    margin: 0 auto;
}

.main-container {
    width: 1500px;
    margin: 0 auto;
}

.footer-container {
    width: 1500px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.small-buttons {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}



/* Stile header */


.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Inizio Top header */

.top-header {
    background-color: #255ee9;
    padding: 30px 0 0 0;
}

.main-section-container{
    padding: 100px 0;
}

#navbar {
    width: 60%;
    text-align: center;
}

.login-btn-container {
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

li a {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Fine top header */

.logo-container.login-btn-container {
    width: 20%;
    display: inline-block;
}

.bottom-header-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
}

.alternative-style-btn {
    color: white;
    background-color: #333;
}


.bottom-header {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    padding: 200px 0 180px 0;
}


.banner {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.banner h2 {
    font-size: 50px;
    padding: 0 0 20px 0;
    color: whitesmoke;
}

.banner p {
    margin: 15px 0;
    font-size: 25px;
    line-height: 40px;
    color: whitesmoke;
}




/* STILE MAIN */

.main-btn {
    padding: 15px 15px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
    color: white;
    background-color: #7289da;
}

.star-div {
    padding: 50px;
    margin: 0 auto;
    background-image: url(./img/stars.svg);
    background-size: contain;
    font-size: 30px;
}

.section-flex {
    display: flex;
}

.big-content {
    width: 60%;
}

.small-content {
    width: 40%;
}

.section-color-alternative{
    background-color: #ccc;
}

.last-main-content {
    text-align: center;
}


/* Stile per le wawe */

.wawe{
    display: block;
    opacity: 0.2;
}

.reverse-wawe{
    display: inline-block;
    transform: rotateX(180deg);
    opacity: 0.2;
}

/* Fine stile wawe */


.last-main-content h2{
    font-size: 50px;
    margin: 40px 0;
}

.last-main-content p{
    font-size: 25px;
    line-height: 40px;
}

.small-content h2 {
    font-size: 50px;
    margin: 40px 0;
}

.small-content p {
    font-size: 25px;
    line-height: 40px;
}



/* STILE FOOTER */


.language-container img {
    width: 10%;
    display: inline-block;
}

footer {
    background-color: rgb(39, 37, 37);
}

select {
    display: inline-block;
}

.top-footer {
    padding: 100px 0 40px 0px;
}


.f-left-container {
    width: 30%;
}

.f-left-container h3 {
    color: #7289da;
    font-size: 40px;
    margin-bottom: 20px;
}

.f-right-container {
    width: 70%;
}

.f-right-content {
    width: calc(100% / 4);
}


.bottom-footer {
    padding: 20px 0;
}

.bottom-footer>div {
    justify-content: space-between;
    align-items: center;
}

.social i {
    color: whitesmoke;
    padding: 20px;
    font-size: 30px;
}

.f-right-content ul li {
    font-size: 20px;
    list-style: none;
    line-height: 40px;
    font-weight: bold;
    color: whitesmoke;
}

.f-right-content ul li:first-child {
    color: #7289da;
}

#footer-separator {
    width: 1500px;
    margin: 0 auto;
    border-color: #7289da;
}

.registration-btn {
    background-color: #7289da;
    color: white;
}